.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
 
}

.slider{
    display: flex;
    cursor: grab;
}

.item{
    height: 10rem;
    max-width: 10rem;
    padding: 2rem;
}

.item img{
    height: 60%;
   pointer-events: none; /*esto hace que no puedas seleccionar una imagen y arrastrarla*/
}