*{
    border:0;
    margin:0;   
}

body{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}

@media(min-width: 1024px) {
h2{
    color:#596388;
    font-family: 'Marvel', sans-serif;
    font-size: 19px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h3{
    color:#596388;
    font-family: 'Marvel', sans-serif;
    font-size: 19px;
    font-weight:bold;
   
    padding: 2rem 2rem 0rem;
}

hr{
    display: flex;
    justify-self: center;
    width: 100%;
}}

@media(min-width: 767px) and (max-width:1023px ){

    h2{
        color:#596388;
        font-family: 'Marvel', sans-serif;
        font-size: 19px;
        font-weight:bold;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    
    h3{
        color:#596388;
        font-family: 'Marvel', sans-serif;
        font-size: 19px;
        font-weight:bold;
       
        padding: 2rem 2rem 0rem;
    }
    
    hr{
        display: flex;
        justify-self: center;
        width: 100%;
    }


}

@media(max-width: 767px) {
    h2{
        color:#596388;
        font-family: 'Marvel', sans-serif;
        font-size: 17px;
        display: flex;
        justify-content: center;
        
    }
    
    h3{
        color:#596388;
        font-family: 'Marvel', sans-serif;
        font-size: 17px;
        font-weight:bold;
       
        padding: 2rem 2rem 0rem;
    }
    
    hr{
        display: flex;
        justify-self: center;
        width: 100%;
    }

}